.container {
	box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
	background-color: #fff;
	border-color: #e0e0e0;
	border-radius: 8px;
	margin: 30px;
	padding: 20px;
	min-width: 250px;
	width: 27%;
	height: 100%;
	display: inline-block;
}

.text {
	min-height: 150px;
	word-wrap: break-word;
}

.text:hover {
	opacity: 0.5;
	transition: 0.4s;
}

h2 {
	margin: 10px 0;
}

.note {
	margin: 10px 0;
}

.date {
	margin: 5px 0;
	font-size: 13px;
	float: right;
}
